.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: 10px;
    padding-block: 10px 30px;
    background: #dbf8e6;
}

.hero .container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.hero .container div{
    width: 150px;
    text-align: center;
    background: #fff;
    border-radius: 10px;
    position: relative;
}

.hero .container div::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 56%;
    border-radius: 10px 10px 0 0;
    background: #000;
    opacity: 0.25;
}

.hero .container div img{
    height: 112px;
    border-radius: 10px 10px 0 0;
}

.hero .container p{
    font-size: 14px;
    padding-inline: 10px;
}

.hero .container .title{
    font-size: 20px;
    font-weight: 600;
}

.hero .container a{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background: #056428;
    border-radius: 5px;
    padding: 7px 14px;
    margin-block: 6px;
    transition: opacity 0.3s ease;
}

.hero .container a:hover {
    opacity: 0.7;
}

@media (min-width: 768px) and (max-width:854px){
    .hero .container{
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 854px) and (max-width:1024px){
    .hero .container{
        grid-template-columns: repeat(3, 1fr);
    }
    .hero .container div img {
        height: 195px;
    }
    .hero .container div {
        width: 260px;
    }
    .hero .container div::before{
        height: 69.5%;
    }
}

@media (min-width: 1025px) and (max-width:1281px) {
    .hero .container{
        grid-template-columns: repeat(4, 1fr);
    }
    .hero .container div img {
        height: 195px;
    }
    
    .hero .container div {
        width: 260px;
    }
    .hero .container div::before{
        height: 69.5%;
    }
}

@media (min-width:1281px) {
    .hero .container{
        grid-template-columns: repeat(5, 1fr);
    }
    .hero .container div img {
        height: 187px;
    }
    
    .hero .container div {
        width: 250px;
    }
    .hero .container div::before{
        height: 68.5%;
    }
}
