.intro {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    background: url(images/Kitfo-and-Tibs.webp) no-repeat;
    object-fit: cover;
    background-position: center;
    height: 200px;
    position: relative;
}

.intro::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: #fff;
    opacity: 0.2;
}

.intro .main {
    font-size: 25px;
    font-weight: 600;
    text-shadow: 0 0 8px #000;
    z-index: 1;
}

.intro .sub {
    font-size: 20px;
    font-weight: 600;
    text-shadow: 0 0 8px #000;
    z-index: 1;
}

.intro a{
    text-decoration: none;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 50px;
    padding: 7px 14px;
    margin-top: 20px;
    font-weight: 500;
    z-index: 1;
    transition: background 0.3s ease;
}

.intro a:hover {
    background: #fff;
    color: #0a150e;
}

#intro {
    text-align: center;
    color: #0a150e;
    font-size: 30px;
    font-weight: 600;
    padding: 20px;
    background: #dbf8e6;
}

@media (min-width: 768px) {
    .intro {
        height: 350px;
    }
    .intro .main {
        font-size: 50px;
        font-weight: 600;
        text-shadow: 0 0 8px #000;
    }
    .intro .sub {
        font-size: 40px;
        font-weight: 600;
        text-shadow: 0 0 8px #000;
    }
}
